#config_version=6

counters:
  lap_counter:
    count_events:
    - logicblock_seq_lap_complete
    - logicblock_rubbing_is_racing_counter_complete
    starting_count: 0
    count_interval: 1

  swerve_counter:
    count_events:
    - sw_tag_swerve{mode.grooveline.active}
    - sw_tag_swerve{mode.luxury.active}
    - sw_tag_swerve{mode.grand_prix.active}
    starting_count: 0
    count_interval: 1
    count_complete_value: 5
    reset_on_complete: false
    reset_events:
    - multiball_stopped

  # Use the pops as another way to make a lap
  rubbing_is_racing_counter:
    count_events:
    - s_pop1_active
    - s_pop2_active
    starting_count: 0
    count_interval: 1
    count_complete_value: 20
    reset_on_complete: true

  spin_counter:
    count_events: s_spinner_active
    starting_count: 0
    count_interval: 1
    count_complete_value: 10
    persist_state: true
    reset_on_complete: true
    disable_on_complete: false

  # This is the per-ball lap counter:
  #   We keep state between mode changes
  #   BUT WILL RESET ON BALL END
  #   (see Pit Mode variable_player + custom code)
  grooveline_counter:
    count_events: logicblock_seq_lap_complete
    starting_count: 0
    count_interval: 1
    count_complete_value: 10
    persist_state: true
    reset_on_complete: false
    reset_events:
    - multiball_grooveline_started

  # This is the LONG counter, across all balls
  luxury_counter:
    count_events:
    - logicblock_spin_counter_complete
    starting_count: 0
    count_interval: 1
    count_complete_value: 10
    persist_state: true
    reset_on_complete: false

  # This first counter lights the "GRAND" inserts.
  grand_counter:
    reset_on_complete: false
    disable_on_complete: true
    count_events: s_save_target_active
    starting_count: 0
    count_interval: 1
    count_complete_value: 5
    persist_state: true
    reset_events:
    - mode_grand_prix_stopped
    enable_events:
    - mode_grand_prix_stopped
    start_enabled: true
  prix_counter:
    reset_on_complete: false
    disable_on_complete: true
    count_events: s_bonus_target_active
    starting_count: 0
    count_interval: 1
    count_complete_value: 4
    persist_state: true
    reset_events:
    - mode_grand_prix_stopped
    enable_events:
    - mode_grand_prix_stopped
    start_enabled: true
  # Tracks progress towards the wizard mode
  red_line_counter:
    reset_on_complete: false
    count_events:
    - mode_grooveline_started{current_player.is_grooveline_completed == 0}
    - mode_luxury_started{current_player.is_luxury_completed == 0}
    - mode_grand_prix_started{current_player.is_grand_prix_completed == 0}
    starting_count: 0
    count_interval: 1
    count_complete_value: 3
    persist_state: true
    reset_events:
    - mode_red_line_stopped
