#config_version=6

mode:
  start_events:
  - segment_message_done
  - game_started
  stop_events:
  - game_ended
  events_when_started:
  - displays_init_done
  priority: 100
  game_mode: false

# Clear displays on game start/stop
segment_display_player:
  mode_game_started:
    segment1:
      flashing: off
      text: ""
    segment2:
      flashing: off
      text: ""
    segment3:
      flashing: off
      text: ""
    segment4:
      flashing: off
      text: ""
  mode_game_stopped:
    segment1:
      flashing: off
      text: ""
    segment2:
      flashing: off
      text: ""
    segment3:
      flashing: off
      text: ""
    segment4:
      flashing: off
      text: ""

  # Flash the current player's score
  # until they actually do something

  # Player 1
  ball_started{player == 1}:
    segment1:
      text: "{players[0].score:d}"
      flashing: all
      priority: 1
  player_score{player_num == 1}:
    segment1:
      text: "{players[0].score:d}"
      flashing: off
      priority: 10

  # Player 2
  ball_started{player == 2}:
    segment1:
      flashing: off
      text: "{players[0].score:d}"
    segment2:
      text: "{players[1].score:d}"
      flashing: all
      priority: 1
  player_score{player_num == 2}:
    segment1:
      flashing: off
      text: "{players[0].score:d}"
    segment2:
      text: "{players[1].score:d}"
      flashing: off
      priority: 10

  # Player 3
  ball_started{player == 3}:
    segment1:
      flashing: off
      text: "{players[0].score:d}"
    segment2:
      flashing: off
      text: "{players[1].score:d}"
    segment3:
      text: "{players[2].score:d}"
      flashing: all
      priority: 1
  player_score{player_num == 3}:
    segment1:
      flashing: off
      text: "{players[0].score:d}"
    segment2:
      flashing: off
      text: "{players[1].score:d}"
    segment3:
      text: "{players[2].score:d}"
      flashing: off
      priority: 10

  # Player 4
  ball_started{player == 4}:
    segment1:
      flashing: off
      text: "{players[0].score:d}"
    segment2:
      flashing: off
      text: "{players[1].score:d}"
    segment3:
      flashing: off
      text: "{players[2].score:d}"
    segment4:
      text: "{players[3].score:d}"
      flashing: all
      priority: 1
  player_score{player_num == 4}:
    segment1:
      flashing: off
      text: "{players[0].score:d}"
    segment2:
      flashing: off
      text: "{players[1].score:d}"
    segment3:
      flashing: off
      text: "{players[2].score:d}"
    segment4:
      text: "{players[3].score:d}"
      flashing: off
      priority: 10
