[Desktop Entry]
Version=1.0
Name=MPF
Comment=Mission Pinball
Exec=/home/grand-prix/grand-prix/bin/run
Path=/home/grand-prix/grand-prix
Terminal=false
Type=Application
